doctype html
html
  block head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery.min.js')
  body
    header#banner 
      h1 Awesome Chat
    block content
    footer Hope you enjoy your stay here
